{% load static %}

<td id="{{playlist.id}}-{{track.track_id}}" style="position: relative; vertical-align:top; border: 5px solid rgba(0,0,0,0); height: 100%; min-height: 100%;">
    <div style="display: flex; flex-direction: row; min-width: 500px; max-width: 500px; max-height: 125px; min-height: 125px; padding: 12px; border-radius: 1.25rem; background-color: rgba(255,255,255,.25);">
        <img src="{{track.image_url}}" style="max-width: 100px; border-radius: 1rem; aspect-ratio: 1/1;"/>
        <div class="marqueeBox" style="flex-direction: column; margin: auto; margin-left: 24px; margin-right: 70px; max-height: 100px; overflow-y: auto;">
            <span>
                <h4 style="font-weight: bolder;">{{track.track_name}}</h4>
            </span>
            <h6>{{track.artist}}</h6>
            <h6 style="margin-bottom: 0;">({{track.album_name}})</h6>
        </div>
    </div>
    {% if user.is_authenticated and track in user.liked_songs.all %}
        <img src="{% static 'images/like_red.png' %}" id="liked-{{track.track_id}}" onclick="unlike('{{track.track_id}}')" style="width:50px; position: absolute; right: 10px; top: 10px; border-radius: 18px;">
        <img src="{% static 'images/can_like.png' %}" id="unliked-{{track.track_id}}" onclick="like('{{track.track_id}}')" hidden="true" style="width:50px; position: absolute; right: 10px; top: 10px; border-radius: 18px;">
    {% elif user.is_authenticated %}
        <img src="{% static 'images/like_red.png' %}" id="liked-{{track.track_id}}" onclick="unlike('{{track.track_id}}')" hidden="true" style="width:50px; position: absolute; right: 10px; top: 10px; border-radius: 18px;">
        <img src="{% static 'images/can_like.png' %}" id="unliked-{{track.track_id}}" onclick="like('{{track.track_id}}')" style="width:50px; position: absolute; right: 10px; top: 10px; border-radius: 18px;">
    {% endif %}
    {% if not nested %}
        <img src="{% static 'images/down_button.png' %}" frame="{{track.track_id}}" onclick="expand(this)" style="position: absolute; right: 10px; bottom: 10px; border-radius: 25px; background-color: rgba(255, 255, 255, .5); max-width: 50px; aspect-ratio: 1/1;"/>
        {% include 'social/track_card.html' %}
    {% else %}
        <img src="{% static 'images/down_button.png' %}" frame="{{playlist.id}}-{{track.track_id}}" onclick="expand(this)" style="position: absolute; right: 10px; bottom: 10px; border-radius: 25px; background-color: rgba(255, 255, 255, .5); max-width: 50px; aspect-ratio: 1/1;"/>
        {% include 'social/track_card.html' %}
    {% endif %}
</td>