{% extends 'base/base.html' %}
{% block title %}
    Sharify - {{ track.track_name }}
{% endblock %}

{% block style %}
    <style>
        .marqueeBox {
            width: 282px;
            overflow: hidden;
            line-height: 30px;
            padding: 5px;
            position: relative;
        }
        .marqueeBox span {
            position: absolute;
            white-space: nowrap;
            transform: translateX(0);
            transition: 1s;
        }
        .marqueeBox:hover span {
            transform: translateX(calc(282px - 100%));
        }
    </style>
{% endblock %}

{% block content %}
<section data-bs-version="5.1" class="section form2 cid-tjoJwPWkFc" id="form02-2" style="width: 100vw;">
    <div class="overlay" style="opacity: 0.7; background-color: rgb(22, 8, 48);"></div>
    <div style="width: 90vw; min-width: 1200px; position: relative; z-index: 2; margin: 0 auto; min-height: 66vh; color: white; border-radius: 5rem; background-color: rgba(255,255,255,.25); padding: 24px;">
        <img src="{{track.image_url}}" style="max-width: 400px; border: 5px solid white; border-radius: 2rem; margin: 10px auto;">
    </div>
</section>
{% endblock %}
