<center>
    <h2>Comments</h2>
</center>
<div id="comments-on-{{content_id}}" style="display: flex; flex-direction: column-reverse; width: 100%; background-color:rgba(255, 255, 255, .75); border-radius: .5rem; color: black; flex: 1 1 auto; overflow-y: auto;">
    <input type="text" placeholder="Leave a comment" style="background-color:rgba(0,0,0,.5); color: white;" username="{{user.username}}" content-type="{{content_type}}" content-id="{{content_id}}" onkeypress="if (event.keyCode == 13) { commenting(this); };">
    {% for comment in comments %}
    <div title="{{comment.posted_at}}" style="flex-direction: row;  text-align: left; padding: 4px; background-color: rgba(0,0,0,.5); margin: 0 4px 4px; color: white; border-radius: .5rem;">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <h6 style="font-weight: bold; margin: 0 0 2px !important;">{{comment.user.username}}: </h6>
            <h6 style="font-size: x-small; font-style: italic; margin: 0;" >{{comment.posted_at}}</h6>
        </div>
        <p style="margin: 0 0 0 8px !important;">{{comment.comment}}</p>
    </div>
    {% endfor %}
</div>

{% block scripts %}
<script>
    function commenting(elem) {
        contentType = elem.getAttribute("content-type");
        comment_target_id = elem.getAttribute("content-id");
        comment_username = elem.getAttribute("username");
        comment_text = elem.value;
        comment = encodeURIComponent(comment_text);
        let url = '/comment/?id=' + comment_target_id + "&type=" + contentType + "&comment=" + comment;
        commentHttp.open('GET', url);
        commentHttp.send(null);
        elem.value = "";
    }

    commentHttp.onload = () => {
        console.log('DONE: ', commentHttp.status);
        if (commentHttp.status == 201) {
            var comment_box = document.getElementById("comments-on-" + comment_target_id)
            var new_comment = document.createElement("div");
            new_comment.style = "flex-direction: row;  text-align: left; padding: 4px; background-color: rgba(0,0,0,.5); margin: 0 4px 4px; color: white; border-radius: .5rem;";
            var new_wrapper = document.createElement("div");
            new_wrapper.style = "display: flex; flex-direction: row; justify-content: space-between;";
            var user_node = document.createElement("h6");
            user_node.style = "font-weight: bold; margin: 0 0 2px !important;";
            user_node.innerHTML = comment_username + ": ";
            var time_node = document.createElement("h6");
            time_node.style = "font-size: x-small; font-style: italic; margin: 0;";
            time_node.innerHTML = "Just now";
            var comment_node = document.createElement("p");
            comment_node.style = "margin: 0 0 0 8px !important;";
            comment_node.innerHTML = comment_text;
            new_wrapper.appendChild(user_node);
            new_wrapper.appendChild(time_node);
            new_comment.appendChild(new_wrapper);
            new_comment.appendChild(comment_node);
            comment_box.insertBefore(new_comment, comment_box.children[1]);
        }
    };
</script>
{% endblock %}
