
<select name="playlists" id="{{track.track_id}}" style="min-width: 100%; margin-top: 5px; height: 24px;" onchange="chose(this)">
    <option id="{{track.track_id}}-reset" value="reset" disabled selected>Add to playlist</option>
    {% for playlist in user.playlist_set.all %}
        {% if track not in playlist.songs.all %}
            <option id="{{track.track_id}}-{{playlist.id}}" track="{{track}}" track-id="{{track.track_id}}" playlist-id="{{playlist.id}}" value="{{playlist.name}}">{{playlist.name}}</option>
        {% endif %}
    {% endfor %}
        <option id="{{track.track_id}}-create" track="{{track}}" track-id="{{track.track_id}}" playlist-id="create" value="create">Create a new playlist</option>
</select>

{% block scripts %}
<script>
    function chose(elem) {
        playlist = elem.options[elem.selectedIndex];
        if (playlist.value == "create"){
            name = "";
            while((name == "" || name.toLowerCase() == "create") && name != null){
                name = prompt("What should we call your new playlist?", "My Favorites");
                if (name == null || name == "null") {
                    alert("Well nevermind, then.");
                    continue;
                }
                if (name == ""){
                    alert("You have to give it a name.");
                    continue;
                }
                if (name.toLowerCase() == "create") {
                    alert("You can't call it any version of \"Create,\" but feel free to add something before or after it!");
                    continue;
                }
                track_id = playlist.getAttribute("track-id")
                name = encodeURIComponent(name)
                let url = '/create_playlist/?playlist_name=' + name + '&track_id=' + track_id;
                playlistHttp.open('GET', url);
                playlistHttp.send(null);
            }
            return;
        }
        playlist_track_id = playlist.getAttribute("track-id")
        playlist_target_id = playlist.getAttribute("playlist-id")
        let url = '/add_to_playlist/?track_id=' + playlist_track_id + "&playlist_id=" + playlist_target_id;
        playlistHttp.open('GET', url);
        playlistHttp.send(null);
    }

    playlistHttp.onload = () => {
        alert(playlistHttp.response);
        if (playlistHttp.status == 200) {
            target = document.getElementById(playlist_track_id + "-" + playlist_target_id);
            target_reset = document.getElementById(playlist_track_id + "-reset");
            target_reset.selected = 'selected';

            target.remove()
        }
    }
</script>
{% endblock %}
