{% extends 'base/base.html' %}

{% block title %}Sharify - Album Search{% endblock %}

{% block content %}
<section data-bs-version="5.1" class="section form2 cid-tjoJwPWkFc" id="form02-2">
    <div class="overlay" style="opacity: 0.7; background-color: rgb(22, 8, 48);"></div>
    <div class="container" style="min-height: 66vh; color: white; width: 75vw;">
		<center>
			<h2>Album Search</h2>
			<br>
			<input style="margin: 10px auto;" class="form-text col-8" type="text" name="album" hx-get="{% url 'sharify:get_album' %}" hx-trigger="keyup" hx-target="#search-results">
			</input>
			<br>
			<div id="search-results">
			</div>
		</center>
		<br>
	</div>
</section>
{% endblock %}
