{% extends 'base/base.html' %}

{% block title %}
	Sharify - User Based Recommendations
{% endblock %}


{% block style %}
	<style>
		h1 {
			font-family: Arial, sans-serif;
			text-align: Center;
		}

		.flex-container {
			width: 85vw;
			display: flex;
			flex-wrap: wrap;
			margin: 0 auto;
			justify-content: space-around;
		}

		.flex-container > div {
			width: 15vw;
			margin: 0.5vh 0;
			line-height: 75px;
			font-size: 30px;
		}
		iframe {
			margin: 0 auto;
		}
	</style>
{% endblock %}


{% block content %}
<section data-bs-version="5.1" class="section form2 cid-tjoJwPWkFc" id="form02-2" style="z-index: 0;">
    <div class="overlay" style="z-index: 1; opacity: 0.7; background-color: rgb(22, 8, 48);"></div>
	{% if tracks %}
		<div style="position: relative; z-index: 2;">
			<h1 style="color: white;">User Based Recommendations</h1>
			<br/>
			<div class="flex-container" style="margin-bottom: 350px;">
				<table>
					{% for row in tracks %}
					<tr >
						{% for entry in row %}
							{% with track=entry.0 comments=entry.1%}
								{% include 'items/mini_track.html' %}
							{% endwith %}
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	{% endif %}
</section>
{% endblock %}

{% block scripts %}
    <script>
        const likeHttp = new XMLHttpRequest();
        function expand(elem) {
            if (document.getElementById("active")){
                shrink(document.getElementById("active"))
            }
            target_id = elem.getAttribute("frame");
            target = document.getElementById(target_id);
            target.hidden = false;
            elem.style.setProperty("transform", "rotate(180deg)");
            elem.setAttribute("onclick", "shrink(this)");
            elem.setAttribute("id", "active");
        }
        function shrink(elem) {
            elem.removeAttribute("id");
            target_id = elem.getAttribute("frame");
            target = document.getElementById(target_id);
            target.hidden = true;
            elem.style.setProperty("transform", "rotate(0deg)");
            elem.setAttribute("onclick", "expand(this)");
        }
        function like(track_id) {
            likeHttp.open('GET', '/like_song/?track_id=' + track_id);
            likeHttp.send(null);
        }
        function unlike(track_id) {
            likeHttp.open('GET', '/unlike_song/?track_id=' + track_id);
            likeHttp.send(null);
        }
        likeHttp.onload = () => {
            response = likeHttp.response;
            code = likeHttp.status;
            if (code == 200) {
                type = response.substring(0, response.indexOf("-"))
                id = response.substring(response.indexOf("-") + 1)
                if (type == "liked") {
                    document.getElementById(response).hidden=false
                    document.getElementById("unliked-" + id).hidden=true
                }
                else if (type == "unliked") {
                    document.getElementById(response).hidden=false
                    document.getElementById("liked-" + id).hidden=true
                }
            }
        }
    </script>
{% endblock %}
