{% load static %}

<div class="row g-0" style="margin: 0 auto 2.5vw; min-height: 100%; min-width: 785px;">
    <div class="col-md-4 text-center text-white" style="margin: auto 2.5vw auto auto; padding: 12px; width: max(15vw, 250px); height: min-content; border-radius: .5rem; background: linear-gradient(to right bottom, rgb(142, 155, 224), rgb(16, 13, 160));">
        {% if needs_linking %}
        <img src="{% static 'images/anonymous_profile.png' %}" alt="Anonymous Avatar"
            class="img-fluid d-block" style="margin: 10% !important; border-radius: 2rem; width: 80%;"/>
        {% else %}
        <img src="{{ current_user.profile.avatar_url }}" alt="Avatar"
            class="img-fluid d-block" style="margin: 10% !important; border-radius: 2rem; width: 80%;"/>
        {% endif %}
        <h5 style="font-size: max(20px, 1.2vw);">
            {{ current_user.username }}
        </h5>
        <p style="font-size: max(16px, .95vw); margin-bottom: 0px;">
            {{ current_user.first_name }} {{ current_user.last_name }}
        </p>
        {% if current_user.username == user.username %}
        <a href="{% url 'sharify:edit_profile' %}" style="margin: 0 auto; font-size: max(16px, .95vw);">
            <button style="margin: 1vh auto; background-color:rgba(255, 255, 255, .75) !important; color:black !important; padding: 7px 14px;" class="btn btn-primary display-7">
                Edit Profile
            </button>
        </a>
        <br/>
        {% endif %}
        {% if can_link %}
        <a href="/link_spotify/" style="margin: 0 auto; font-size: max(16px, .95vw);">
            <button style="margin: 1vh auto; background-color:rgba(255, 255, 255, .75) !important; color:black !important; padding: 7px 14px;" class="btn btn-primary display-7">
                Link Spotify
            </button>
        </a>
        {% endif %}
        {% if current_user.username == user.username and not needs_linking %}
        <a href="/unlink_spotify/" style="margin: 0 auto; font-size: max(16px, .95vw);">
            <button style="margin: 1vh auto; background-color:rgba(255, 255, 255, .75) !important; color:black !important; padding: 7px 14px;" class="btn btn-primary display-7">
                Disconnect Spotify
            </button>
        </a>
        {% endif %}
    </div>
    <div class="col-md-8 text-white" style="margin: auto auto auto 2.5vw; padding: 24px; width: max(30vw, 500px); height: min-content; border-radius: .5rem; background: linear-gradient(to left bottom, rgb(142, 155, 224), rgb(16, 13, 160));">
        <h6 style="font-size: max(16px, .95vw);">
            Information
        </h6>
        <hr class="mt-0 mb-4">
        <div class="row pt-1">
            <div class="col-6 mb-3">
                <h6 style="font-size: max(16px, .95vw);">Bio</h6>
                <p style="color: lightgray; font-size: max(16px, .95vw);">
                    {{ current_user.bio }}
                </p>
            </div>
            <div class="col-6 mb-3">
                <h6 style="font-size: max(16px, .95vw);">
                    Email
                </h6>
                <p style="color: lightgray; font-size: max(16px, .95vw);">
                    {{ current_user.email }}
                </p>
            </div>
            <div class="col-6 mb-3">
                <h6 style="font-size: max(16px, .95vw);">
                    Favorite Artist
                </h6>
                <p style="color: lightgray; font-size: max(16px, .95vw);">
                    {{ fav_artist }}
                </p>
            </div>
            <div class="col-6 mb-3">
                <h6 style="font-size: max(16px, .95vw);">
                    Favorite Song
                </h6>
                <p style="color: lightgray; font-size: max(16px, .95vw);">
                    {{ fav_track }}
                </p>
            </div>
            <div class="col-6 mb-3">
                <h6 style="font-size: max(16px, .95vw)">
                    Listening to
                </h6>
                {% if listening %}
                <p style="color: lightgray; font-size: max(16px, .95vw);">
                    {{ current_track }}
                </p>
                {% else %}
                <p style="color: lightgray; font-size: max(16px, .95vw);">
                    {{ message }}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row g-0" style="margin: 2.5vw auto 0; min-height: 100%; min-width: 785px;">
    <div class="col-md-8 text-center" style="margin: auto 2.5vw auto auto; padding: 12px; width: max(30vw, 500px); aspect-ratio: 1/1; border-radius: .5rem; background: linear-gradient(to left top, rgb(142, 155, 224), rgb(16, 13, 160));">
    {% if user.is_authenticated and user.username == current_user.username or current_user.playlists_are_public %}
        {% if playlists %}
            {% for playlist in playlists %}
                {{ playlist }}
            {% endfor %}
        {% else %}
            <p style="color: white; padding-top: 46%; margin: auto;">{{ current_user }} has no playlists!</p>
        {% endif %}
    {% else %}
        <p style="color: white; padding-top: 46%; margin: auto;"> {{ current_user.username }}'s playlists are private! </p>
    {% endif %}
    </div>
    <div class="col-md-4 text-center" style="margin: auto auto auto 2.5vw; padding: 12px; width: max(20vw, 350px); aspect-ratio: 1/1.25; border-radius: .5rem; background: linear-gradient(to right top, rgb(142, 155, 224), rgb(16, 13, 160));">
    {% if user.is_authenticated and user.username == current_user.username or current_user.friends_are_public %}
        {% include 'profiles/friendlist.html' %}
    {% else %}
        <p style="color: white; padding-top: 46%; margin: auto;"> {{ current_user.username }}'s friends are private! </p>
    {% endif %}
    </div>
</div>