{% load static %}

<div class="row g-0" style="margin: 0 auto 2.5vw; min-height: 100%; min-width: 785px;">
    <div class="col-md-4 text-center text-white" style="margin: auto 2.5vw auto auto; padding: 12px; width: max(15vw, 250px); height: min-content; border-radius: .5rem; background: linear-gradient(to right bottom, rgb(142, 155, 224), rgb(16, 13, 160));">
        {% if needs_linking %}
        <img src="{% static 'images/anonymous_profile.png' %}" alt="Anonymous Avatar"
            class="img-fluid d-block" style="margin: 10% !important; border-radius: 2rem; width: 80%;"/>
        {% else %}
        <img src="{{ current_user.profile.avatar_url }}" alt="Avatar"
            class="img-fluid d-block" style="margin: 10% !important; border-radius: 2rem; width: 80%;"/>
        {% endif %}
        <h5 style="font-size: max(20px, 1.2vw);">
            {{ current_user.username }}
        </h5>
        <p style="font-size: max(16px, .95vw); margin-bottom: 0px;">
            {{ current_user.first_name }} {{ current_user.last_name }}
        </p>
        {% if current_user.username == user.username %}
        <a href="{% url 'sharify:edit_profile' %}" style="margin: 0 auto; font-size: max(16px, .95vw);">
            <button style="margin: 1vh auto; background-color:rgba(255, 255, 255, .75) !important; color:black !important; padding: 7px 14px;" class="btn btn-primary display-7">
                Edit Profile
            </button>
        </a>
        <br/>
        {% endif %}
        {% if can_link %}
        <a href="/link_spotify/" style="margin: 0 auto; font-size: max(16px, .95vw);">
            <button style="margin: 1vh auto; background-color:rgba(255, 255, 255, .75) !important; color:black !important; padding: 7px 14px;" class="btn btn-primary display-7">
                Link Spotify
            </button>
        </a>
        {% endif %}
        {% if current_user.username == user.username and not needs_linking %}
        <a href="/unlink_spotify/" style="margin: 0 auto; font-size: max(16px, .95vw);">
            <button style="margin: 1vh auto; background-color:rgba(255, 255, 255, .75) !important; color:black !important; padding: 7px 14px;" class="btn btn-primary display-7">
                Disconnect Spotify
            </button>
        </a>
        {% endif %}
    </div>
    <div class="col-md-8 text-white" style="margin: auto auto auto 2.5vw; padding: 24px; width: max(30vw, 500px); height: min-content; border-radius: .5rem; background: linear-gradient(to left bottom, rgb(142, 155, 224), rgb(16, 13, 160));">
        <h6 style="font-size: max(16px, .95vw);">
            Information
        </h6>
        <hr class="mt-0 mb-4">
        <div class="row pt-1">
            <div class="col-6 mb-3">
                <h6 style="font-size: max(16px, .95vw);">Bio</h6>
                <p style="color: lightgray; font-size: max(16px, .95vw);">
                    {{ current_user.bio }}
                </p>
            </div>
            <div class="col-6 mb-3">
                <h6 style="font-size: max(16px, .95vw);">
                    Email
                </h6>
                <p style="color: lightgray; font-size: max(16px, .95vw);">
                    {{ current_user.email }}
                </p>
            </div>
            <div class="col-6 mb-3">
                <h6 style="font-size: max(16px, .95vw);">
                    Favorite Artist
                </h6>
                <p style="color: lightgray; font-size: max(16px, .95vw);">
                    {{ fav_artist }}
                </p>
            </div>
            <div class="col-6 mb-3">
                <h6 style="font-size: max(16px, .95vw);">
                    Favorite Song
                </h6>
                <p style="color: lightgray; font-size: max(16px, .95vw);">
                    {{ fav_track }}
                </p>
            </div>
            <div class="col-6 mb-3">
                <h6 style="font-size: max(16px, .95vw)">
                    Listening to
                </h6>
                {% if listening %}
                <p style="color: lightgray; font-size: max(16px, .95vw);">
                    {{ current_track }}
                </p>
                {% else %}
                <p style="color: lightgray; font-size: max(16px, .95vw);">
                    {{ message }}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row g-0" style="margin: 2.5vw auto 0; min-height: 100%; min-width: 1000px;">
    <div class="col-md-8 text-center" style="margin: auto 2.5vw auto auto; padding: 12px; width: max(30vw, 534px); aspect-ratio: 1/1; border-radius: .5rem; background: linear-gradient(to left top, rgb(142, 155, 224), rgb(16, 13, 160));">
    {% if user.is_authenticated and user.username == current_user.username or current_user.playlists_are_public %}
        {% with nested=True %}
            <select name="playlists" id="{{track.track_id}}" style="min-width: 100%; margin-top: 5px; height: 24px;" onchange="view_playlist(this)">
                <option id="reset" value="reset" disabled selected>View Playlist</option>
                {% for playlist in user.playlist_set.all %}
                <option id="select-{{playlist.id}}" playlist-id="{{playlist.id}}" value="{{playlist.name}}">{{playlist.name}}</option>
                {% endfor %}
            </select>
            <div style="max-height: 90%; overflow: auto; border-radius: 1.25rem;">
                {% for playlist in current_user.playlist_set.all %}
                    <table id="table-{{playlist.id}}" style="width: 500px; max-width: 500px;" hidden="true">
                        {% for track in playlist.songs.all %}
                            <tr id="{{playlist.id}}-{{track.id}}" style="width: 500px; text-align: left; max-width: 500px;">
                                {% include 'items/mini_track.html' %}
                            </tr>
                        {% endfor %}
                    </table>
                {% empty %}
                    <p style="color: white; padding-top: 46%; margin: auto;">{{ current_user }} has no playlists!</p>
                {% endfor %}
            </div>
        {% endwith %}
    {% else %}
        <p style="color: white; padding-top: 46%; margin: auto;"> {{ current_user.username }}'s playlists are private! </p>
    {% endif %}
    </div>
    <div class="col-md-4 text-center" style="margin: auto auto auto 2.5vw; padding: 12px; width: max(20vw, 350px); aspect-ratio: 1/1.25; border-radius: .5rem; background: linear-gradient(to right top, rgb(142, 155, 224), rgb(16, 13, 160));">
    {% if user.is_authenticated and user.username == current_user.username or current_user.friends_are_public %}
        {% include 'profiles/friendlist.html' %}
    {% else %}
        <p style="color: white; padding-top: 46%; margin: auto;"> {{ current_user.username }}'s friends are private! </p>
    {% endif %}
    </div>
</div>

{% block scripts %}
    <script>
        function expand(elem) {
            if (document.getElementById("active")){
                shrink(document.getElementById("active"))
            }
            target_id = elem.getAttribute("frame");
            target = document.getElementById(target_id);
            target.hidden = false;
            elem.style.setProperty("transform", "rotate(180deg)");
            elem.setAttribute("onclick", "shrink(this)");
            elem.setAttribute("id", "active");
        }
        function shrink(elem) {
            elem.removeAttribute("id");
            target_id = elem.getAttribute("frame");
            target = document.getElementById(target_id);
            target.hidden = true;
            elem.style.setProperty("transform", "rotate(0deg)");
            elem.setAttribute("onclick", "expand(this)");
        }
        function view_playlist(elem) {
            options = Array.from(elem.options).map(e => e.value);
            for (var playlist_target_id of Array.from(elem.options).map(e => e.getAttribute("playlist-id"))) {
                if (playlist_target_id == null) {
                    continue;
                }
                playlist = document.getElementById("table-" + playlist_target_id);
                playlist.hidden = true;
            }
            playlist_option = elem.options[elem.selectedIndex];
            playlist_target_id = playlist_option.getAttribute("playlist-id")
            playlist = document.getElementById("table-" + playlist_target_id)
            playlist.hidden = false
        }

        playlistHttp.onload = () => {
            console.log('DONE: ', playlistHttp.status);
            alert(playlistHttp.response);
            if (playlistHttp.status == 200) {
                target = document.getElementById(playlist_track_id + "-" + playlist_target_id);
                target_reset = document.getElementById(playlist_track_id + "-reset");
                target_reset.selected = 'selected';

                target.remove()
            }
        }
    </script>
{% endblock %}
