{% extends 'base/base.html' %}
{% block title %}Sharify - User Profile{% endblock %}
{% block content %}
  <section data-bs-version="5.1" class="section form2 cid-tjoJwPWkFc" id="form02-2" style="z-index: 0; min-height: 90%;">
    <div class="overlay" style="z-index: 1; opacity: 0.7; background-color: rgb(22, 8, 48); min-height: 100%;"></div>
    <div style="position: relative; display: block; z-index: 2; min-height: 100%; overflow: auto;">
      {% include 'profiles/fullprofile.html' %}
    </div>
  </section>
{% endblock %}
