{% extends 'base.html' %}
{% load static %}
{% block title %}Sharify - Login{% endblock %}
{% block content %}   
<section data-bs-version="5.1" class="section form2 cid-tjoJwPWkFc" id="form02-2">
    <div class="overlay" style="opacity: 0.7; background-color: rgb(22, 8, 48);"></div>
    <div class="container">
        <div class="row align-left">
            <div class="col-md-12 col-lg-5 block-content pe-md-3" style="display:flex; flex-direction: row; width: 70vw;">
                <div class="form-block" style="margin: 0 10px;">
                    {% include 'loginform.html' %}
                </div>
                <div class="form-block" style="margin: 0 10px;">
                    {% include 'signupform.html' %}
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features20 cid-tjoJILG38j" id="features20-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="content-wrapper">
                <div class="col-12">
                    <div class="text-wrapper">
                        <h2 class="section-title align-center fonts-style display-2"><strong>Why make an account?</strong></h2>
                        <div class="item-container col-12">
                            <div class="item flex col-12 col-md-4">
                                <div class="icon-box">
                                    <p class="number-text black fonts-style display-1"><strong>Full Songs</strong></p>
                                </div>
                                <div class="text-box">
                                    <p class="icon-text black fonts-style m-0 display-4">No more previews. No more snippets. Get the full song, every time.</p>
                                </div>
                            </div>
                            <div class="item flex col-12 col-md-4">
                                <div class="icon-box">
                                    <p class="number-text black fonts-style display-1"><strong>Over 4</strong></p>
                                </div>
                                <div class="text-box">
                                    <p class="icon-text black fonts-style m-0 display-4">Users to share and listen with.</p>
                                </div>
                            </div>
                            <div class="item flex col-12 col-md-4">
                                <div class="icon-box">
                                    <p class="number-text black fonts-style display-1"><strong>Song Sync</strong></p>
                                </div>
                                <div class="text-box">
                                    <p class="icon-text black fonts-style m-0 display-4">Connect your account to Spotify to share your playlists across devices and keep your friends up to date on your listening trends.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
