<div class="bg"></div>
<div class="form-wrap" data-form-type="formoid">
    <form action="" method="POST" class="form form-with-styler" data-form-title="Registration Form">
        <div class="row">
            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for
                filling out the form!</div>
            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12"></div>
        </div>
        <div class="dragArea row">
            <div class="col-md-12">
                <h4 class="fonts-style mb-2 fonts-style display-5"><strong>Sign Up</strong></h4>
                <p class="mb-4 form-text fonts-style display-7">[put the Django Spotify API for registration here]</p>
            </div>
            <div class="col-md-12 form-group mb-3 " data-for="name">
                <input type="text" name="name" placeholder="Placeholder" data-form-field="Name" required="required" class="form-control input display-7" id="name-form02-5">
            </div>
            <div class="col-md-12 input-group-btn mt-2">
                <button type="submit" class="btn btn-primary btn-form btn-bgr display-4">Register</button>
            </div>
        </div>
    </form>
</div>
