{% extends 'base.html' %}

{% block title %}
	Sharify - Today's Top Hits
{% endblock %}


{% block style %}
	<style>
		h1 {
			font-family: Arial, sans-serif;
			text-align: Center;
		}

		.flex-container {
			width: 85vw;
			display: flex;
			flex-wrap: wrap;
			margin: 0 auto;
			justify-content: space-around;
		}

		.flex-container > div {
			width: 15vw;
			margin: 0.5vh 0;
			line-height: 75px;
			font-size: 30px;
		}
		iframe {
			margin: 0 auto;
		}
	</style>
{% endblock %}


{% block content %}
<section data-bs-version="5.1" class="gallery4 cid-sPTNLFvAOB" id="gallery4-z" style="background: white;">
	<h1>Today's Top Hits</h1>
	<br/>
	{% if tracks %}
		<div class="flex-container">
		{% for track in tracks %}
			<div>
				<iframe src="https://open.spotify.com/embed/track/{{ track }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</div>
		{% endfor %}
		</div>
	{% endif %}
</section>
{% endblock %}
