{% extends 'base.html' %}
{% load static %}
{% block title %}Sharify - User Profile{% endblock %}
{% block content %}
<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-8 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; background: linear-gradient(to right bottom, rgb(142, 155, 224), rgb(16, 13, 160));">
                {% if needs_linking %}
                  <img src="{% static 'images/anonymous_profile.png' %}" alt="Anonymous Avatar" class="img-fluid my-5 rounded mx-auto d-block" style="width: 100px;" />
                {% else %}
                  <img src="{{ current_user.profile.avatar_url }}" alt="Avatar" class="img-fluid my-5 rounded mx-auto d-block" style="width: 100px;" />
                {% endif %}
                <h5>{{ current_user.username }}</h5>
                <p>{{ current_user.first_name }} {{ current_user.last_name }}</p>
                <a class="btn btn-default btn-lg text-white" href="{% url 'sharify:edit_profile' %}">Edit</a>
                <!--<button type="button" class="btn btn-default btn-lg text-white">
                  <span class="glyphicon glyphicon-star"></span>Edit
                </button> -->
                {% if needs_linking and current_user.username == user.username %}
                  <br/>
                  <a href="/link_spotify/" class="btn btn-default btn-lg text-white">
                    <span class="glyphicon glyphicon-star"></span>Link Spotify
                  </a>
                {% endif %}
            </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                        <h6>Bio</h6>
                        <p class="text-muted">{{ current_user.bio }}</p>
                      </div>
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">{{ current_user.email }}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Listening to</h6>
                      {% if listening %}
                        <p class="text-muted">"{{current_track_name}}" by {{current_track_artist}}</p>
                      {% else %}
                        <p class="text-muted">{{ message }}</p>
                      {% endif %}
                    </div>
                    
                  <h6>Interests</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Favorite Artist</h6>
                      <p class="text-muted">{{ fav_artist }}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Favorite Song</h6>
                      <p class="text-muted">{{ fav_track }}</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start">
                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
